*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.env*
tmp/

# test reports
test-report/
.coverage
coverage.xml
pytest_junit.xml

# mypy
.mypy_cache/

# intellj
.idea/

# AWS SAM CLI
.aws-sam/

# CDK asset staging directory
.cdk.staging
cdk.out

# test data
seed.csv

# newrelic
newrelic.ini

# misc
*.env
